<h3>The Grid</h3>

<!-- Grid Example -->
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <p>This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <div class="panel">
      <p>Six columns</p>
    </div>
  </div>
  <div class="six columns">
    <div class="panel">
      <p>Six columns</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <div class="panel">
      <p>Four columns</p>
    </div>
  </div>
  <div class="four columns">
    <div class="panel">
      <p>Four columns</p>
    </div>
  </div>
  <div class="four columns">
    <div class="panel">
      <p>Four columns</p>
    </div>
  </div>
</div>

<h3>Tabs</h3>
<dl class="tabs">
  <dd class="active"><a href="#simple1">Simple Tab 1</a></dd>
  <dd><a href="#simple2">Simple Tab 2</a></dd>
  <dd><a href="#simple3">Simple Tab 3</a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="simple1Tab">This is simple tab 1's content. Pretty neat, huh?</li>
  <li id="simple2Tab">This is simple tab 2's content. Now you see it!</li>
  <li id="simple3Tab">This is simple tab 3's content. It's, you know...okay.</li>
</ul>

<h3>Buttons</h3>

<div class="row">
  <div class="six columns">
    <p><a href="#" class="small button">Small Button</a></p>
    <p><a href="#" class="button">Medium Button</a></p>
    <p><a href="#" class="large button">Large Button</a></p>
  </div>
  <div class="six columns">
    <p><a href="#" class="small alert button">Small Alert Button</a></p>
    <p><a href="#" class="success button">Medium Success Button</a></p>
    <p><a href="#" class="large secondary button">Large Secondary Button</a></p>
  </div>
</div>

